.horizcenter{
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-family: 'Roboto', sans-serif;
    color:#A082BD;
}

.form-group{
    background-color:#D33682;
}
body{
    overflow-x:hidden;
}
#sidebar{
    background:#073642;
    height:100vh;
}

.chatbox{
     background:#002B36;
     height:calc(100vh - 55px);
     overflow-y: scroll;
     max-width: 93vw;
    position:static;
    border: gold 1px solid;
    box-shadow: 2px 4px;
}

#loginButton{
    background:cornflowerblue;
    width:100px;
    height:50px;
    line-height: 50px;
    cursor: pointer;
    margin: 0 0 0 35px;
    text-align: center;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.activeFriend {
    background-color:gold;
    box-shadow: 2px 4px;
}

#center {
    margin:-100px 0 0 -150px;
    width:200px;
    height:200px;
    position:absolute;
    left:50%;
    top:50%;
}

div ul li {
    background-color:#2AA198;
    margin-bottom: 10px;
    width:100%;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

div ul li:hover {
    border: 1px gold solid;
    margin-left:-1px;
    margin-top:-1px;
    margin-bottom: 9px;
    width:100%;
    width:101%;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}


div ul li {
    color:black;
    padding-left:10px;
}
.yourMessage {
    background-color:violet;
    border-radius: 50px;

    width:100vh;
    min-height:50px;
    max-height:200px;
    margin-left:20vh;
    margin-right:30px;
    margin-top:10px;
    margin-bottom:10px;
    padding-left:10px;
    padding-top:10px;
    float:right;
}

.theirMessage {
    background-color:darkolivegreen;
    width:100vh;
    border-radius: 50px;

    min-height:50px;
    max-height:200px;
    margin-left:30px;
    margin-right:30px;
    margin-top:10px;
    margin-bottom:10px;
    padding-left:10px;
    padding-top:10px;

    float:left;
}
#messageSender {
    background-color: transparent;
    width:200%;
    border-radius: 50px;
    padding-left: 20px;
    margin-top:5px;
    margin-bottom:0;
    color:white;
}

.flash{
    background:lightgreen;
    animation-name: flash;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    //Firefox 1+
    -webkit-animation-name: flash;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    //Safari 3-4
    -moz-animation-name: flash;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
}

@keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

//Firefox 1+
@-webkit-keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

//Safari 3-4
@-moz-keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}